#root {
  margin: 5%;
}

.fashion {
  background-color: #ff5722;
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  position: fixed;
  left: 1vw;
}

.fashion-link {
  color: pink;
  text-decoration: none;
  position: fixed;
  left: 10vw;
  top: 25vw;
  font-size: 3vw;
}

.bars {
  background-color: burlywood;
  height: 23vw;
  width: 23vw;
  border-radius: 50%;
  position: fixed;
  left: 33.7vw;
  top: 10vw;
}

.bar-link {
  color: yellowgreen;
  text-decoration: none;
  position: fixed;
  top: 16vw;
  left: 37vw;
  font-size: 2vw;
}

.other {
  background-color: teal;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: fixed;
  left: 56.4vw;
  top: 11.5vw;
}

.other-link {
  color: aqua;
  text-decoration: none;
  position: fixed;
  top: 20vw;
  left: 63vw;
  font-size: 2.5vw;
}

main {
  position: fixed;
  top: 50vw;
}