body {
  overflow-x: hidden;
}

.section-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header {
  color:black;
  padding-left: 3%;
  padding-bottom: 2%;
  padding-top: 1%;
  font-size: xx-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header p {
  padding: 0;
  margin: 0;
}

.home-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.fashion {
  background-color: #ff5722;
  height: 45vw;
  width: 45vw;
  border-radius: 50%;
  grid-column-start: 1;
  margin-left: -2vw;
}

.bars {
  background-color: rgb(226, 206, 179);
  height: 28vw;
  width: 28vw;
  border-radius: 50%;
  grid-column-start: 2;
  margin-top: -22em;
  margin-left: -2.5vw;
}

.other {
  background-color: teal;
  height: 33vw;
  width: 33vw;
  border-radius: 50%;
  grid-column-start: 3;
  margin-top: -15em;
  margin-left: -0.2vw;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  height: 40vh;
}

@media screen and (max-width: 1200px) {
  .bars {
    margin-top: -20em;
    margin-left: -2.5vw;
  }
  .other {
    margin-left: 0vw;
  }
}

@media screen and (max-width: 1150px) {
  .bars {
    margin-top: -20em;
  }
}

@media screen and (max-width: 1000px) {
  .fashion {
    height: 47vw;
    width: 47vw;
  }
  .bars {
    height: 30vw;
    width: 30vw;
    margin-left: -2.5vw;
    margin-top: -18em;
  }
  .other {
    height: 35vw;
    width: 35vw;
    margin-top: -13em;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: x-large;
  }
}