body {
  overflow-x: hidden;
}

.section-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
  }
}

.CElogo {
  max-width: 25%;
  height: auto;
  padding-left: 2%;
}

@keyframes moveDots {
  0% {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(50vw) translateY(0);
  }
  40% {
    transform: translateX(100vw) translateY(0);
  }
  60% {
    transform: translateX(100vw) translateY(40vh);
  }
  80% {
    transform: translateX(80vw) translateY(45vh) scale(2);
  }
  100% {
    transform: translateX(45vw) translateY(55vh) scale(4);
  }

}

.dots {
  max-width: 25%;
  height: auto;
  position: absolute;
  margin-left: -24.5vw;
  animation: moveDots 2s linear;
}

.fashionIMGHome {
max-width: 75%;
height: auto;
padding: 29% 0 0 12%;
}

.barsIMGHome {
  max-width: 100%;
  height: auto;
  padding-top: 31%;
}

.otherIMGHome {
  max-width: 100%;
  height: auto;
  padding-top: 34%;
}

.home-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.fashionHome {
  background-color: #FF4817;
  height: 45vw;
  width: 45vw;
  border-radius: 50%;
  grid-column-start: 1;
  margin-left: -1.5vw;
}

.barsHome {
  background-color: #BA8F6B;
  height: 26vw;
  width: 26vw;
  border-radius: 50%;
  grid-column-start: 2;
  margin-top: -27vw;
  margin-left: -2.5vw;
}

.otherHome {
  background-color: #01413F;
  height: 33vw;
  width: 33vw;
  border-radius: 50%;
  grid-column-start: 3;
  margin-top: -15vw;
  margin-left: -0.5vw;
}

.fashionDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.fashionIMG {
  max-width: 30%;
  height: auto;
}

.barsDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.barsIMG {
  max-width: 30%;
  height: auto;
}

.otherDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.otherIMG {
  max-width: 30%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  margin-top: 5vh;
}

@media screen and (max-width: 1200px) {
  .barsHome {
    margin-left: -2.5vw;
  }
  .otherHome {
    margin-left: -.5vw;
  }
}

@media screen and (max-width: 1000px) {
.CElogo {
  max-width: 30%;
  height: auto;
}
.dots {
  max-width: 30%;
  margin-left: -29.5vw;
    /* max-width: 30%;
    margin-left: 2vw;
    margin-top: -14.5vw; */
}
}

@media screen and (max-width: 768px) {
  .CElogo {
    max-width: 60%;
    height: auto;
    margin-left: 17%;
  }
  .dots {
    max-width: 60%;
    margin-left: -1.5vw;
  }
  .home-nav {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    max-width: 100vw;
    margin-top: -5vh;
  }
  .fashionHome {
    grid-row-start: 1;
    margin-left: -7vw;
    margin-top: 10vw;
    height: 70vw;
    width: 70vw;
  }
  .barsHome {
    grid-row-start: 2;
    margin-left: -11vw;
    margin-top: -24vw;
    height: 50vw;
    width: 50vw;
  }
  .otherHome {
    grid-row-start: 3;
    margin-left: -70vw;
    margin-top: -1vw;
    height: 60vw;
    width: 60vw;
  }
  .footer {
    margin-top: 0;
  }
}